node_modules
.env

# Build outputs
dist
*.local
tsconfig.tsbuildinfo
server/**/*.d.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
