:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.main {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 0.3fr 1.7fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Header Header Header Header Header Header"
    ". . . . . ."
    ". . . . Notifications Notifications"
    ". . . . Notifications Notifications"
    ". . . . Notifications Notifications"; 
    width: 100%;
    height: 100%;
}
.Notifications { 
  grid-area: Notifications;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: 10px solid red;

}
.slideinClass {
  animation-name: slideIn;
  animation-duration: 0.125s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.slideoutClass {
  animation-name: slideOut;
  animation-duration: 0.125s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(100%);
  }

}
.Header { grid-area: Header; }
.progressBar {
  position: relative;
  border-radius: 50px;
  height: 60px;
  clip-path: border-box;
  align-items: center;
}
.progressBarBase {
  width: 100%;
  height: 100%;
  position: relative;
  
}
.progressBarFill {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  clip-path: "polygon(0% 0%,0% 100%,100% 100%,100% 0%)"
}
.pointer {
  position: absolute;
}
.lines {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  border-radius: 50px;
  clip-path: border-box;

}
.line {
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: rgb(255, 0, 0);
  top: 0px;
  border-radius: 50px;
  clip-path: border-box;
}